body 
{
	font-family: arial, sans-serif;
}

/*
 * NAVIGATION, MENUS AND BUTTONS
 */

nav
{
}

nav#powon-main-menu
{
	width: 100%;
	display: block;
	background-color: #036;
	color: #fff;
	padding: 0em;
}

nav#powon-main-menu a
{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0em 0.1em;
}

nav#powon-main-menu span.right-side,
nav#powon-main-menu span.left-side
{
	display: inline-block;
	margin: 0em;
	padding: 0.2em 0.2em 0em 0.2em;
}

nav#powon-main-menu span.right-side
{
	text-align: right;
	float: right;
}

nav#powon-main-menu img
{
	height: auto;
	width: auto;
	max-height: 2em;
	padding: 0em;
}

nav#powon-main-menu a.hide-me
{
	display: none;
}

nav.powon-entity-edit-links
{
	position: absolute;
	top: 3em;
	right: 0;
	padding: 0em 1em;
	background-color: white;
}

nav.powon-entity-edit-links a
{
	display: block;
	font-weight: bold;
	text-decoration: none;
}

nav.powon-entity-edit-links h2
{
	font-size: 125%;
}

nav#powon-submenu
{
	width: 100%;
	display: block;
	background-color: #ddd;
	color: #000;
	padding: 0.2em;
}

nav#powon-submenu a
{
	font-weight: bold;
	color: inherit;
	text-decoration: none;
	margin-right: 1em;
}

nav#powon-submenu form,
nav#powon-submenu form .powon-form-buttons
{
	display: inline-block;
	margin: 0;
	margin-right: .5em;
}

/*
 * GRID DISPLAY
 */
.grid-index .grid-item
{
	display: inline-block;
	width: 125px;
	height: 175px;
	text-align: center;
	margin: 0px 25px;
}

.grid-index .grid-item img
{
	height: auto;
	width: auto;
	max-width: 125px;
	max-height: 125px;
}

.action-remove
{
	background: url('../powon/logo/x.png');
	background-repeat: no-repeat;
	background-size: 1em 1em;
	width: 1em;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	text-indent: 1em;
}

/*
 * FORMS
 */

form
{
}

form fieldset.powon-form-table-row
{
	display: none;
}

form#powon-login-form div
{
	display: inline-block;
}

form textarea
{
	display: block;
	width: 95%;
	height: 50%;
}

/*
 * ADMINISTRATIVE CONTROLS
 */

div#instance-log ol li
{
	font-family: monospace;
}
